/*
FARBEN:
rgb(76,25,0)
rgb(165,140,127)
rgb(235,225,200)
*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('fonts/OpenSans400.woff') format('woff'), url('fonts/OpenSans400.svg#OpenSans') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/OpenSans700.woff') format('woff'), url('fonts/OpenSans700.svg#OpenSans-Bold') format('svg');
}

body {
    margin:0px;
    padding:0px;
    color:rgb(76,25,0);
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    cursor:default;
    -webkit-text-size-adjust:100%;
}

a {
    color:rgb(76,25,0);
    -webkit-tap-highlight-color:rgba(76,25,0,0);
}
#menu_bar a {
    display:inline-block;
    color:rgb(235,225,200);
    text-decoration:none;
    padding: 7px 10px;
}
#menu_bar a.menuselected {
    background-color:rgb(235,225,200);
    color:rgb(76,25,0);
}

h1 {
    margin:15px 0px 10px 0px;
    padding:0px 5px 0px 5px;
    font-size:18px;
    font-weight:bold;
}

h2 {
    margin:12px 0px 8px 0px;
    padding:0px 4px 0px 4px;
    font-size:16px;
    font-weight:bold;
    border-bottom:1px solid rgb(76,25,0);
}

h3 {
    margin:9px 0px 6px 0px;
    padding:0px 3px 0px 3px;
    font-size:14px;
    font-weight:bold;
    border-bottom:1px solid rgb(76,25,0);
}

div {
    font-size:14px;
}

.papierbg {
    background-color:rgb(235,225,200);
}

.noselect {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.browndarkbg {
    background-color:rgb(76,25,0);
    color:rgb(255,255,255);
}
.brownlightbg {
    background-color:rgb(165,140,127);
    color:rgb(255,255,255);
}

.l {text-align:left;}
.c {text-align:center;}
.r {text-align:right;}
.vm {vertical-align:top;}
.bt {border-top:1px solid rgb(76,25,0);}
.bb {border-bottom:1px solid rgb(76,25,0);}
.bl {border-left:1px solid rgb(76,25,0);}
.br {border-right:1px solid rgb(76,25,0);}
.lbt {border-top:1px solid rgb(165,140,127);}
.lbb {border-bottom:1px solid rgb(165,140,127);}
.lbl {border-left:1px solid rgb(165,140,127);}
.lbr {border-right:1px solid rgb(165,140,127);}

table.nospacing {
    border-spacing:0px;
    border-collapse:collapse;
    empty-cells:show;
}
.nospacing td {
    margin:0px;
    padding:0px;
}
.hpadding td {
    margin:0px;
    padding:0px 3px 0px 3px;
}

select {
    color:rgb(76,25,0);
    background-color:rgb(255,255,255);
    border:1px solid rgb(76,25,0);
    border-radius:3px;
}
textarea {
    color:rgb(76,25,0);
    background-color:rgb(255,255,255);
    border:1px solid rgb(76,25,0);
    border-radius:3px;
    padding:1px;
}
input[type="text"] {
    color:rgb(76,25,0);
    background-color:rgb(255,255,255);
    border:1px solid rgb(76,25,0);
    border-radius:3px;
    height:24px;
    line-height:24px;
    padding:1px;
}
input[type="email"] {
    color:rgb(76,25,0);
    background-color:rgb(255,255,255);
    border:1px solid rgb(76,25,0);
    border-radius:3px;
    height:24px;
    line-height:24px;
    padding:1px;
}
input[type="password"] {
    color:rgb(76,25,0);
    background-color:rgb(255,255,255);
    border:1px solid rgb(76,25,0);
    border-radius:3px;
    height:28px;
    line-height:28px;
    padding:1px;
}

input[disabled="disabled"]{
   opacity:0.5;
}

input[type="text"]{
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

input[type="password"]{
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
